* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../assets/images/starwars_background.jpeg);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Outfit-Medium';
    color: white;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    color: aliceblue;
}

button {
    border: none;
    background-color: none;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}