
.main-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.main-section section{
    padding: 50px;
}

.starwars_categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.starwars_categories button {
    width: 300px;
    height: 200px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    background-size: cover;
    transition: background 400ms ease-out;

}

.starwars_categories button:hover {
    background-color: darkblue;
    color:brown;
}

.category-films {
    background-image: url(../assets/images/starwars_category_film.jpeg);
}

.category-people {
    background-image: url(../assets/images/starwars_category_people.jpeg);
}

.category-planets {
    background-image: url(../assets/images/starwars_category_planets.jpeg);
}

.category-vehicles {
    background-image: url(../assets/images/starwars_category_vehicles.jpg);
}

/* CATEGORIES SECTION DISPLAYS */
.film-display {
    display: none;
}

.film-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);
}

.people-display {
    display: none;
}

.people-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 250px);  
}

.planets-display {
    display: none;
}

.planets-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 250px);  
}

.vehicles-display {
    display: none;
}

.vehicles-ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 250px);  
}
